/*    imported fonts:
font-family: 'Cormorant Garamond', serif;
 */
* {
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

.container {
    margin: 0 auto;
}

nav {
    box-sizing: border-box;
    /* border: 2px solid grey; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

 nav h1, nav span {
     display: none;
 }

nav ul    {
     display: flex;
     padding: 0;    
     align-items: center;
 }

 nav ul img:hover {
     background-color: orangered;
 }


 nav ul li {
     display: inline-block;
     list-style-type: none;
     /* margin: 5px; */ 
     padding: 0 5px;
     text-decoration: none;
 }

 /* LEARN SOMETHING */

 .learn-something {
     background-color: #dcdbdc;
     color: #585958;
     margin-bottom: 16px;
     padding: 10px;
 }

 .column-left, .column-right {
     width: 100%;
 }

 .learn-something h2 {
     font-weight: bolder;
     margin-left: 20px;
     font-size: 2.5rem;
 }

 .learn-something h3 {
     font-weight: 200;
     margin-left: 20px;
 }

 .learn-something .column-right {
     /* width: 90%; */
     margin: 0 auto;
     /* padding-bottom: 24px; */
 }   

 .learn-something .column-right a {
     text-decoration: none;
     background-color: grey;
     display: block;
     border-radius: 5px;
     color: white;
     margin: 24px auto;
     padding: 10px 10px;
     text-align: center;
     width: 50%;
     font-size: 1.15rem;
     font-weight: bold;
     letter-spacing: 1px; }


 /* KEEP PRACTICING  */

 .keep-practicing .column-left {
     display: none;
 }

 .desktop-only {
     display: none;
 }

 .keep-practicing {
     width: 100%;
     margin-top: 24px
 }

.keep-practicing .column-right {
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

 .keep-practicing .column-right ul {
     width: 75%;
     margin: 

 }

 .keep-practicing ul li {
     display: flex;
     list-style-type: none;
     margin: 0 auto;
     width: 90%;
     flex-wrap: wrap;
     margin-bottom: 32px;
 }

 .keep-practicing ul li img {
     width: 100%;
 }

 .keep-practicing .column-right h3, .keep-practicing .column-right p {
    color: #585958;
   
 }

 .keep-practicing .column-right a {
     text-decoration: none;
 }

 .keep-practicing a .read-more {
     color: steelblue;
     text-decoration: underline;
 }

 a .read-more:hover {
     color: rebeccapurple;
 }

 /* START LEARNING */

.start-learning {
    width: 100%;
}

.start-learning h2 {
    text-align: center;
    color: #585958;
    font-style: bold;
    font-size: 2rem;
    margin: 0 auto;
    width: 50%;
    line-height: 4rem;
}

.start-learning ul {
    margin: 0 auto;
    padding: 0;
}

.start-learning ul li {
    /* width: 100%;  */
    list-style-type: none;
}

.start-learning img, .start-learning h6, .start-learning p {
    display: none;
}

.start-learning h3 {
    display: flex;
    box-sizing: border-box;
    background-color: lightgrey;
    padding: 10px;
    border: 4px solid white;
    width: 65%;
    align-items: center;
    margin: 0 auto;
}


/* THESIS EXHIBITS ----------------------------------------------------------- */
.thesis-exhibit .container .column-left-hide,
.thesis-exhibit .container .column-left-hide, 
.thesis-exhibit .column-right {
    display: none;
}

.thesis-exhibit .container h2 {
    text-align: center;
    color: #585958;
    font-style: bold;
    font-size: 2rem;
}

footer ul {
    display: none;
}

footer {
    color: slategray;
    font-size: 0.75rem;
}
/* DESKTOP MEDIA QUERY---------------------------------------------------------------------------------- */

 @media only screen and (min-width: 781px) {
        nav {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 10px;
        }

        nav h1, nav h1 span {
            display: initial;
            font-family: 'Cormorant Garamond', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            width: 30%
        }

        nav h1 span {
            font-style: oblique;
        }

        nav ul img {
            display: none;
        }

        nav ul span {
            color: rgb(57, 63, 68);
            display: initial;
            text-decoration: none;
            border: none
        }

        nav ul a {
            text-decoration: none;
            padding: 10px;
        }
 }